<footer class="bg-base-100 pt-2 pb-10 mt-8">
  <div class="max-w-7xl mx-auto flex items-center justify-between gap-10 flex-wrap">
    <div class="flex items-start gap-4">
      <img src="../graphics/ShawneeLogo.png" class="h-16" alt="Logo">
      <div>
        <p class="font-bold">CITY HALL | 16 West 9th Street</p>
        <p>Shawnee, OK 74801-6812</p>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-x-6 gap-y-0.1">
      <a href="https://citizen-request-cityofshawneeok.hub.arcgis.com/" target="_blank" rel="noopener noreferrer" class="btn btn-ghost">Action Center</a>
      <a href="news.html" class="btn btn-ghost">News</a>
      <a href="fire.html" class="btn btn-ghost">Fire Department</a>
      <a href="parks.html" class="btn btn-ghost">Parks & Recreation</a>
      <a href="police.html" class="btn btn-ghost">Police Department</a>
      <a href="billpay.html" class="btn btn-ghost">Pay My Bills</a>
    </div>

    <div class="flex items-center gap-6">
      <div class="flex gap-2">
        <a href="https://www.youtube.com/CityofShawneeOK" target="_blank" rel="noopener noreferrer" class="btn btn-square btn-error text-white">
          <img src="../graphics/YTLogo.png" alt="YouTube">
        </a>
        <a href="https://x.com/CityofShawneeOK" target="_blank" rel="noopener noreferrer" class="btn btn-square btn-info text-white">
          <img src="../graphics/TwitterLogo.png" alt="X / Twitter">
        </a>
        <a href="https://www.facebook.com/CityofShawneeOK" target="_blank" rel="noopener noreferrer" class="btn btn-square btn-primary bg-blue-600 text-white">
          <img src="../graphics/FacebookLogo.png" alt="Facebook">
        </a>
      </div>

      <div class="flex flex-col gap-2">
        <div class="dropdown dropdown-top dropdown-end">
          <label tabindex="0" class="btn btn-primary gap-2 whitespace-nowrap">Share 🔗</label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow-lg bg-base-100 rounded-box w-56 z-[100]">
            <li><a id="share-facebook" target="_blank" rel="noopener noreferrer">Share on Facebook</a></li>
            <li><a id="share-twitter" target="_blank" rel="noopener noreferrer">Share on X / Twitter</a></li>
            <li><a id="share-email">Share by Email</a></li>
            <li><button onclick="copyPageLink()">Copy Link</button></li>
          </ul>
        </div>

        <a href="subscribe.html" class="btn btn-primary gap-2 whitespace-nowrap">Subscribe ▶</a>
      </div>
    </div>
  </div>
</footer>